version: '3'
services:
  airflow:
    container_name: airflow
    build: .
    ports:
    - "8080:8080"
    environment:
      AIRFLOW__CORE__SQL__ALCHEMY_CONN: 'postgresql+psycopg2://airflow:airflow@postgres:5432/airflow'
      _AIRFLOW_WWW_USER_USERNAME: 'admin'
      _AIRFLOW_WWW_USER_PASSWORD: 'admin'
    volumes:
      - .:/projeto-imoveis-olx
    depends_on:
      - postgres
    restart: always

  
  postgres:
    container_name: postgres
    image: 'postgres:11'
    ports:
      - "55432:5432"
    environment:
      POSTGRES_USER: 'airflow'
      POSTGRES_PASSWORD: 'airflow'
      POSTGRES_DB: 'airflow'
    volumes:
      - ./postgres-data:/var/lib/postgresql/data

  shiny:
    container_name: shiny
    image: 'rocker/shiny:latest'
    ports:
     - "3838:3838"
    volumes:
      - .:/projeto-imoveis-olx
    depends_on:
     - postgres
     - airflow
    expose:
      - "3838"
    command: "/bin/bash /projeto-imoveis-olx/entrypoint_r.sh"